:root {
  --sb-font-size-xs: 11px;
  --sb-font-size-sm: 12px;
  --sb-font-size-base: 14px;
  --sb-font-size-lg: 16px;
  --sb-font-size-xl: 18px;

  --sb-font-size-label: var(--sb-font-size-base);
  --sb-font-size-caption: var(--sb-font-size-sm);
  --sb-font-size-title: var(--sb-font-size-lg);
}


